<br />

    <form action="api/Converter/Convert" method="post">
        <div class="container">            
            <label><b>Çevirmek istediğiniz Metini Giriniz.</b></label>
            <input style="display:block" type="text" placeholder="Enter Text..." name="usertext">            
            <button type="submit">Convert</button>
        </div>
    </form>
